.your-gold {
    display: flex;
}

.your-gold p {
    display: inline-block;
}

.your-gold div {
    display: inline-block;
    border: 2px solid black;
    height: 1em;
    width: 5em;
    margin: 1em;
}

.card {
    display: flex;
    padding: 1em;
}


.place {
    display: inline-block;
    border: 2px solid black;
}