* {
    margin: 0px;
    padding: 0px;
}

.your-gold {
    display: flex;
    padding: 1em;
}

.your-gold p {
    display: inline-block;
}

.your-gold div {
    display: inline-block;
    border: 2px solid black;
    height: 1em;
    width: 5em;
    margin-left: 1em;
}

.cards {
    display: flex;
    width: auto;
    margin: 1em;
}


.place {
    display: inline-block;
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.place h2, .place p {
    margin: 0.5em;
}

.place button {
    padding: 0.25em;
    box-shadow: 0.15em 0.15em lightgray;
}

.activity-div {
    border: 0.15em solid black;
    height: 10em;
    width: auto;
    margin: 1em;
}