<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Ninja Gold</title>
</head>
<body>
    <p>Your Gold:</p>
    <div></div>
    <form method="POST" class="place" location="farm">
        {% csrf_token %}
        <h2>Farm</h2>
        <p>(earns 10-20 gold)</p>
        <button type="submit">Find Gold!</button>
    </form>
    <form method="POST" class="place" location="cave">
        {% csrf_token %}
        <h2>Cave</h2>
        <p>(earns 5-10 gold)</p>
        <button type="submit">Find Gold!</button>
    </form>
    <form method="POST" class="place" location="house">
        {% csrf_token %}
        <h2>House</h2>
        <p>(earns 2-5 gold)</p>
        <button type="submit">Find Gold!</button>
    </form>
    <form method="POST" class="place" location="casino">
        {% csrf_token %}
        <h2>Casino</h2>
        <p>(earns/takes 0-50 gold)</p>
        <button type="submit">Find Gold!</button>
    </form>
    <p>Activities:</p>
    <div></div>
</body>
</html>