<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Ninja Gold</title>
</head>

<body>
    <div class="your-gold">
        <p>Your Gold:</p>
        <div>{{ request.session.counter }}</div>
    </div>
    <div class="cards">
        <form action="/process_money" method="POST" class="place">
            {% csrf_token %}
            <h2>Farm</h2>
            <p>(earns 10-20 gold)</p>
            <input type="hidden" name="location" value="farm">
            <input type="submit" value="Find Gold!" class="submit">
        </form>
        <form action="/process_money" method="POST" class="place">
            {% csrf_token %}
            <h2>Cave</h2>
            <p>(earns 5-10 gold)</p>
            <input type="hidden" name="location" value="cave">
            <input type="submit" value="Find Gold!" class="submit">
        </form>
        <form action="/process_money" method="POST" class="place">
            {% csrf_token %}
            <h2>House</h2>
            <p>(earns 2-5 gold)</p>
            <input type="hidden" name="location" value="house">
            <input type="submit" value="Find Gold!" class="submit">
        </form>
        <form action="/process_money" method="POST" class="place">
            {% csrf_token %}
            <h2>Casino</h2>
            <p>(earns/takes 0-50 gold)</p>
            <input type="hidden" name="location" value="casino">
            <input type="submit" value="Find Gold!" class="submit">
        </form>
    </div>
    <p class="activities">Activities:</p>
    <div class="activity-div"> 
        <ul>
                {% for activity in request.session.activity_log %}
                <li>
                {{activity}}
                </li>
                {% endfor %}
        </ul>
    </div>
</body>

</html>